<div style="color:purple; margin-top:80px" id="<%= dom_id album %>">
 
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= album.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= album.price %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= album.all_tags %>
  </p>  
</div>
