<div
  class="container-fluid show d-flex"
  style="padding-left: 250px; padding-top: 100px"
>
  <p style="color: red"><%= notice %></p>
  <div class="d-flex"><%= render @album %></div>
  <div>
    <br />
    <div style="margin-left: 100px; ">
      <% if @album.profile_image.present? %> <%= image_tag @album.profile_image,
      width: 250, height: 300, resize_to_fill: [100, 100] %> <% else %>
      <!-- Provide a default image or a placeholder if the profile_image is not present -->
      <%= image_tag '', width: 250, height: 300, resize_to_fill: [100, 100] %>
      <% end %>

      <br />
      <br />

    <br/>
  <%= audio_tag @album.audio, controls: true %>
    
    </div>
    <br />
    <div class="mt-3 " style="margin-left:170px">
      <h2>Your Albums</h2>
      <% current_user.albums.each do |album| %>
      <p><%= link_to album.title, album_path(album) %></p>
      <% end %>
      
    </div>
  </div>
</div>

<div style="margin-left: 250px">
  <%= link_to "Edit this album", edit_album_path(@album) %>
  <br />
  <br />
  <%= button_to "Destroy this album", @album, method: :delete,class:"btn
  btn-danger" %>
</div>
